Node-red Flow/flows.json
[{"id":"9347fcc2.6942f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c0ef5db0.75e27","type":"ui_tab","z":"","name":"ChatBot","icon":"dashboard","disabled":false,"hidden":false},{"id":"c43fd6d9.e8fd08","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#006e7c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#006e7c","edited":true},"page-titlebar-backgroundColor":{"value":"#006e7c","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006e7c","edited":false},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":0,"gy":0,"cx":6,"cy":40,"px":6,"py":6}}},{"id":"9ba410d1.03311","type":"ui_group","z":"","name":"Question","tab":"c0ef5db0.75e27","order":1,"disp":true,"width":"20","collapse":false},{"id":"8d85f7ab.0ea9f8","type":"ui_group","z":"","name":"text_answer","tab":"c0ef5db0.75e27","order":3,"disp":false,"width":"20","collapse":false},{"id":"63402473.9433cc","type":"ui_group","z":"","name":"text_question","tab":"c0ef5db0.75e27","order":2,"disp":false,"width":"20","collapse":false},{"id":"a238974f.f91748","type":"function","z":"9347fcc2.6942f","name":"","func":"msg.payload=msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":153,"y":206,"wires":[["499602fa.eeecec","af523c3.9de80c"]]},{"id":"499602fa.eeecec","type":"watson-conversation-v1","z":"9347fcc2.6942f","name":"","workspaceid":"ca1239ad-4206-4b58-b817-aebca21b976f","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.us-east.assistant.watson.cloud.ibm.com/instances/0e302109-ab71-472f-8419-ea0f0a4bc1d3","timeout":"","optout-learning":false,"x":384,"y":152,"wires":[["ae375a8b.853e98","bad19d9.0cb786"]]},{"id":"ae375a8b.853e98","type":"debug","z":"9347fcc2.6942f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":632,"y":91,"wires":[]},{"id":"bad19d9.0cb786","type":"function","z":"9347fcc2.6942f","name":"function","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text\n}\nelse{\n    msg.payload=msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":246,"wires":[["3bab9d3d.276da2"]]},{"id":"96b2cea4.86f9","type":"ui_form","z":"9347fcc2.6942f","name":"","label":"","group":"9ba410d1.03311","order":2,"width":"0","height":"0","options":[{"label":"Enter the input","value":"name","type":"text","required":true,"rows":null}],"formValue":{"name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":60,"y":91,"wires":[["a238974f.f91748"]]},{"id":"af523c3.9de80c","type":"ui_text","z":"9347fcc2.6942f","group":"63402473.9433cc","order":2,"width":"20","height":"1","name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":341,"y":331,"wires":[]},{"id":"3bab9d3d.276da2","type":"ui_text","z":"9347fcc2.6942f","group":"8d85f7ab.0ea9f8","order":3,"width":"20","height":"5","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":752,"y":385,"wires":[],"info":"<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"></svg>"}]